[Unit]
Description=Synapse Matrix homeserver

[Service]
Type=simple
User={{ matrix.user }}
Group={{ matrix.user }}
WorkingDirectory={{ matrix.user_home }}
ExecStart={{ matrix.user_home }}/env/bin/python -B -u -m synapse.app.homeserver -c {{ matrix.user_home }}/homeserver.yaml
ExecStop={{ matrix.user_home }}/env/bin/synctl stop {{ matrix.user_home }}/homeserver.yaml

[Install]
WantedBy=multi-user.target
