# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Text to speech
tts:
  - platform: google_translate
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - {{ groups['Caddy'][0] }}
  ip_ban_enabled: true
  login_attempts_threshold: 5

recorder:
  purge_keep_days: 60
  db_url: "mysql://{{ mysql_application_user }}:{{ mysql_application_password }}@127.0.0.1/{{ mysql_application_database }}?charset=utf8mb4"

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
